﻿<div class="well row" ng-controller="AuthController">
	<div class="col-md-12">
		<h1>Getting things done</h1>
		<p>
			Getting Things Done is a time-management method, described in a book of the same title by productivity consultant David Allen. It is often referred to as GTD.
		</p>
		<p>
			The GTD method rests on the idea of moving planned tasks and projects out of the mind by recording them externally and then breaking them into actionable work items. This allows one to focus attention on taking action on tasks, instead of on recalling them.
		</p>
	</div>

	<div class="col-md-4">
		<h3>Want to learn more</h3>
		<p>
			Check out the inventor of GTD David Allen's book
			<a target="_blank" href="http://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0143126563/ref=sr_1_2?s=books&ie=UTF8&qid=1431337914&sr=1-2&keywords=Getting+Things+Done%3A+The+Art+of+Stress-Free+Productivity">
				Getting Things Done: The Art of Stress-Free Productivity
			</a> on
		</p>
		<a target="_blank" href="http://www.amazon.com">
			<img src="../../../Content/images/amazon.png" alt="Amazon.com">
		</a>
	</div>

	<div class="col-md-4">
		<h3>Contact</h3>
		For technical issues use the error report form below:
		<button type="button" class="btn btn-info" (click)="reportError()">
			<span class="glyphicon glyphicon-warning-sign"></span>
			Report problem
		</button>
		<p>
			For other issue or press contacts call us at: 073 - 12345678 <br />
			or send an email to: <a href="mailto:admin@gtdapp.com" target="_top">admin@gtdapp.com</a>.
		</p>
	</div>

	<div class="col-md-4" [hidden]="loggedIn()">
		<h3>New to the Getting things done app</h3>
		<p>Gain control over your time both privately and at work. Register for free and try it out.</p>
		<button type="button" class="btn btn-primary" (click)="register()">
			<span class="glyphicon glyphicon-user"></span>
			Register user
		</button>
	</div>

	<div class="col-md-4" [hidden]="!loggedIn()">
		<h3>Navigation</h3>
		<div style="display:inline-block">
			<a class="btn btn-info" role="button" routerLink="/taskMgmt" routerLinkActive="active">
				Main page
			</a>
		</div>
		<div style="display:inline-block">
			<a class="btn btn-info" role="button" routerLink="/stateMgmt" routerLinkActive="active">
				<span class="glyphicon glyphicon-list-alt"></span>
				Manage your tasks
			</a>
		</div>
	</div>
</div>