﻿<div class="well">
	<div class="row">
		<div class="col-md-3">
			<h3>New</h3>
			<div id="newTasks" *ngFor="let task of tasks | stateFilter:'New'" class="swimLane"> <!--  | stateFilter:'New' -->
				<div class="task leftCorner leftMostTask">
					<div class="taskUpper">
						{{task.name}}
					</div>
					<div class="taskLower">
						{{task.description}}
					</div>
				</div>
				<div (click)="moveToNextState(task.id)" class="stateButton rightCorner">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<h3>Analyzed</h3>
			<div id="analyzedTasks" *ngFor="let task of tasks | stateFilter:'Analyzed'" class="swimLane"> <!-- | stateFilter:'Analyzed' -->
				<div (click)="moveToPreviousState(task.id)" class="stateButton leftCorner">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<div class="task">
					<div class="taskUpper">
						{{task.name}}
					</div>
					<div class="taskLower">
						{{task.description}}
					</div>
				</div>
				<div (click)="moveToNextState(task.id)" class="stateButton rightCorner">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<h3>In progress</h3>
			<div id="inProgressTasks" *ngFor="let task of tasks | stateFilter:'In progress'" class="swimLane">
				<div (click)="moveToPreviousState(task.id)" class="stateButton leftCorner">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<div class="task">
					<div class="taskUpper">
						{{task.name}}
					</div>
					<div class="taskLower">
						{{task.description}}
					</div>
				</div>
				<div (click)="moveToNextState(task.id)" class="stateButton rightCorner">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<h3>Finished</h3>
			<div id="finishedTasks" *ngFor="let task of tasks | stateFilter:'Finished'" class="swimLane">
				<div (click)="moveToPreviousState(task.id)" class="stateButton leftCorner">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<div class="task rightCorner rightMostTask">
					<div class="taskUpper">
						{{task.name}}
					</div>
					<div class="taskLower">
						{{task.description}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<p style="margin-top: 10px">
		<a class="btn btn-info" role="button" routerLink="/taskMgmt" routerLinkActive="active">
			Main page
		</a>
	</p>
</div>