﻿<div class="container-fluid modal-dialog">
	<div class="row modal-header">
		<div class="col-sm-12">
			<h3 class="modal-title">Report technical issue</h3>
		</div>
	</div>
	<div class="row modal-body">
		<div class="col-sm-12">
			<div class="form-group">
				<input type="text" placeholder="Your name" class="form-control" [(ngModel)]="errorReportData.name" required />
			</div>
			<div class="form-group">
				<input type="text" placeholder="Phone number" class="form-control" [(ngModel)]="errorReportData.phoneNumber" required />
			</div>
			<div class="form-group">
				<input type="text" placeholder="Email address" class="form-control" [(ngModel)]="errorReportData.email" required />
			</div>
			<div class="form-group">
				<textarea class="form-control" placeholder="Describe the problem" [(ngModel)]="errorReportData.description" rows="5"></textarea>
			</div>
		</div>
	</div>
	<div class="row modal-footer">
		<div class="col-sm-12">
			<button type="button" class="btn btn-success" (click)="ok()">
				<span class="glyphicon glyphicon-ok"></span>
				Send report
			</button>
			<button type="button" class="btn btn-danger" (click)="cancel()">
				<span class="glyphicon glyphicon-remove"></span>
				Cancel
			</button>
		</div>
	</div>
</div>