﻿<div class="container-fluid modal-dialog">
	<div class="row modal-header">
		<div class="col-sm-12">
			<h3 class="modal-title">Create task</h3>
		</div>
	</div>
	<div class="row modal-body">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="taskname">Name</label>
				<input id="taskname" type="text" placeholder="Taskname" class="form-control" [(ngModel)]="taskDto.name" required />
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input id="description" type="text" placeholder="Description" class="form-control" [(ngModel)]="taskDto.description" required />
			</div>
			<div class="form-group">
				<div><label for="startDatepicker">Start date</label></div>
				<input id="startDatepicker" placeholder="StartDate" [(ngModel)]='taskDto.startDate' ng2-datetime-picker date-only="true" class="form-control" />
			</div>
			<div class="form-group">
				<div><label for="endDatepicker">End date</label></div>
				<input id="endDatepicker" placeholder="EndDate" [(ngModel)]='taskDto.endDate' ng2-datetime-picker date-only="true" class="form-control" />
			</div>
		</div>
	</div>
	<div class="row modal-footer">
		<div class="col-sm-12">
			<button type="button" class="btn btn-success" (click)="ok()">
				<span class="glyphicon glyphicon-ok"></span>
				Register
			</button>
			<button type="button" class="btn btn-danger" (click)="cancel()">
				<span class="glyphicon glyphicon-remove"></span>
				Cancel
			</button>
		</div>
	</div>
</div>