﻿<form class="navbar-form navbar-right" (ngSubmit)="login()">
	<div [hidden]="loggedIn()">
		<div class="form-group">
			<input type="text" placeholder="Username"
					[(ngModel)]="loginData.userId"
					name="Username"
					required />
		</div>
		<div class="form-group">
			<input type="password" placeholder="Password"
					[(ngModel)]="loginData.password"
					name="Password"
					required />
		</div>
		<button type="submit" class="btn btn-success">
			<span class="glyphicon glyphicon-log-in"></span>
			Sign in
		</button>
	</div>

	<div [hidden]="!loggedIn()">
		<button type="button" class="btn btn-primary" (click)="logout()">
			<span class="glyphicon glyphicon-log-out"></span>
			Logout
		</button>
	</div>
</form>

