﻿<div class="well row">
	<h1>Your tasks</h1>
	<table class="table table-striped table-bordered" ng-cloak>
		<thead>
			<tr>
				<th class="invsible">Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let task of tasks">
				<td class="invsible">{{ task.id }}</td>
				<td style="vertical-align: middle;">{{ task.name }}</td>
				<td style="vertical-align: middle;">{{ task.description }}</td>
				<td style="vertical-align: middle;">{{ task.state }}</td>
				<td>
					<button class="btn btn-info" (click)="showEditTask(task.id)">
						<span class="glyphicon glyphicon-edit"></span>
						Edit
					</button>
				</td>
				<td>
					<button class="btn btn-info" (click)="deleteTask(task.id)">
						<span class="glyphicon glyphicon-trash"></span>
						Delete
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<button type="button" class="btn btn-info" (click)="showTaskRegDialog()">
		<span class="glyphicon glyphicon-plus"></span>
		Create task
	</button>

	<a class="btn btn-info" role="button" routerLink="/stateMgmt" routerLinkActive="active">
		<span class="glyphicon glyphicon-list-alt"></span>
		Manage your tasks
	</a>
</div>