﻿<div>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a routerLink="/front" routerLinkActive="active" class="navbar-brand">Getting things done</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<auth></auth>
			</div>
		</div>
	</nav>
</div>

<router-outlet></router-outlet>
<test-component></test-component>
<testext-component></testext-component>